<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Data Display</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="icon" href="logo.jpeg" style="border-radius: 25px;">
  <style>
    .btn{
      width: 80px;
    }
    body{
      background-color: rgb(242, 187, 115);
    }
    #paidCheckbox{
      width: 20px;
      height: 20px;
    }
    #notPaidCheckbox{
      width: 20px;
      height: 20px;
    }
    #paidCheckbox1{
      width: 20px;
      height: 20px;
    }
    #notPaidCheckbox1{
      width: 20px;
      height: 20px;
    }
    #dropdownOptions{
      height: 48px;
      border-radius: 20px;
    }
  </style>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-white fixed-top bg-light">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class=" nav nav-pills card-header-pills">
          <li class="nav-item">
            <a class="nav-link active mx-2 my-2 bg-info" href="/landing"><b><i>Home</i></b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link active mx-2 my-2 bg-warning" aria-current="page" href="/kpmgUpload"><b><i>KPMG</i></b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link active mx-2 my-2 bg-success" href="/atkFormUpload"><b><i>AITEK_INDIA</i></b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link active mx-2 my-2 bg-dark" href="/rzUpload"><b><i>Rizing</i></b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link active mx-2 my-2 bg-danger" href="/form3upload"><b><i>SEA Opns</i></b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link active mx-2 my-2 bg-secondary" href="/atkFormUpload"><b><i>Radient</i></b></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <h1 class="text-center mt-5 pt-4"><i>Invoice Details</i></h1>
  <div class="d-flex">
    <div class="w-25 ms-5">
      <select id="dropdownOptions"  class="form-select">
        <option selected disabled>Select Party Name</option>
        <option value="Radiant Digital Solutions Private Limited">Radiant Digital Solutions Private Limited</option>
        <option value="RIZING SDN BHD(1142727-A)">RIZING SDN BHD(1142727-A)</option>
        <option value="O2F INFO SOLUTIONS PRIVATE LIMITED">O2F INFO SOLUTIONS PRIVATE LIMITED</option>
        <option value="KPMG Services Pte Ltd">KPMG Services Pte Ltd</option>
        <option value="GAPbuster Worldwide Malaysia Sdn. Bhd">GAPbuster Worldwide Malaysia Sdn. Bhd</option>
        <option value="C2C INNOVATIONS PTE. LTD">C2C INNOVATIONS PTE. LTD</option>
        <option value="INFOSYS SINGAPORE PTE. LTD">INFOSYS SINGAPORE PTE. LTD</option>
        <option value="ABeam Analytics Pte. Ltd">ABeam Analytics Pte. Ltd</option>
        <option value="ABeam Consulting (S) Pte Ltd">ABeam Consulting (S) Pte Ltd</option>
        <option value="ASTA INNOSYS PTE. LTD">ASTA INNOSYS PTE. LTD</option>
        <option value="WIPRO LIMITED">WIPRO LIMITED</option>
        <option value="BIRLASOFT LIMITED(SINGAPORE BRANCH)">BIRLASOFT LIMITED(SINGAPORE BRANCH)</option>
        <option value="AITEK PVK SDN BHD">AITEK PVK SDN BHD</option>
        <option value="Kaisa Consulting Company Inc.">Kaisa Consulting Company Inc.</option>
        <option value="HGC Global communications Limited">HGC Global communications Limited</option>
        <option value="AITEK PVK IT SERVICES INC">AITEK PVK IT SERVICES INC</option>
        <option value="SONATA SOFTWARE MALAYSIA SDN. BHD.">SONATA SOFTWARE MALAYSIA SDN. BHD.</option>
        <option value="INFOSYS SINGAPORE PTE. LTD">INFOSYS SINGAPORE PTE. LTD</option>
      </select>   
    </div>
    <div class="ms-5">
      <input type="checkbox" class="form-check-input" id="paidCheckbox" onchange="filterDocuments()"> <b>Paid</b><br>
      <input type="checkbox" class="form-check-input" id="notPaidCheckbox" onchange="filterDocuments()"> <b>Not Paid</b>
    </div>
    <div class="ms-5">
      <input type="checkbox" class="form-check-input" id="paidCheckbox1" onchange="filterDocuments1()"> <b>All Paid Details</b><br>
      <input type="checkbox" class="form-check-input" id="notPaidCheckbox1" onchange="filterDocuments1()"> <b>All Due Details</b>
    </div>
  </div>
  <% data.forEach(entry => { %>
    <div id="<%= entry._id %>" >
        <div class="row mx-3 my-3">
          <div class="col">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title"><b><i>Invoice Number: </i></b><%= entry.invoiceNumberf %></h5>
                <p class="card-text"><b><i>Party Name: </i></b><%= entry.pn %></p>
                <p class="card-text"><b><i>Company Name: </i></b><%= entry.companyName %></p>
                <p class="card-text"><b><i>Status: </i></b><%= entry.status %></p>
                <p class="card-text"><b><i>Remarks: </i></b><%= entry.remarks %></p>
                <a><button onclick="enableEdit('<%= entry._id %>')" class="btn btn-primary"><b><i>Edit</i></b></button></a>
              </div>
            </div>
          </div>
        </div>
        <div id="searchResults"></div>
          <form id="form-<%= entry._id %>" onsubmit="save('<%= entry._id %>'); return false;" style="display:none;" class="card mx-4 my-4 save p-3">
            <label for="invoiceNumberf-"><b><i>Invoice Number: </i></b></label>
            <input type="text" id="invoiceNumberf-<%= entry._id %>" value="<%= entry.invoiceNumberf %>" required class="form-control">
            <br>
            <label for="pn-"><b><i>Party Name: </i></b></label>
            <input type="text" id="pn-<%= entry._id %>" value="<%= entry.pn %>" class="form-control" required>
            <br>
            <label for="companyName-"><b><i>Company Name: </i></b></label>
            <input type="text" id="companyName-<%= entry._id %>" value="<%= entry.companyName %>" class="form-control" required>
            <br>
            <label for="status-"><b><i>Status: </i></b></label>
            <input type="text" id="status-<%= entry._id %>" value="<%= entry.status %>" class="form-control" required>
            <br>
            <label for="remarks-"><b><i>Remarks: </i></b></label>
            <input type="text" id="remarks-<%= entry._id %>" value="<%= entry.remarks %>" class="form-control" required>
            <br>
            <button type="submit" class="btn btn-success"><b><i>Save</i></b></button>
          </form>
    </div>
  <% }) %>

  <script>
    function enableEdit(id) {
      const entryDiv = document.getElementById(id);
      const editButton = entryDiv.querySelector('button');
      const form = document.getElementById('form-' + id);
      editButton.style.display = 'none';
      form.style.display = 'block';
    }

    async function save(id) {
      const newInvoiceNumber = document.getElementById('invoiceNumberf-' + id).value;
      const newPartyName = document.getElementById('pn-' + id).value;
      const newStatus = document.getElementById('status-' + id).value;
      const newCompanyName = document.getElementById('companyName-'+id).value;
      const newRemarks = document.getElementById('remarks-'+id).value;

      const response = await fetch(`/update/${id}`, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({
          invoiceNumberf: newInvoiceNumber,
          pn: newPartyName,
          companyName: newCompanyName,
          status: newStatus,
          remarks: newRemarks,
        }),
      });
      window.location.reload();
    }
    function filterDocuments() {
      const paidCheckbox = document.getElementById('paidCheckbox');
      const notPaidCheckbox = document.getElementById('notPaidCheckbox');
      const dropdown = document.getElementById('dropdownOptions');
      const allDocuments = document.querySelectorAll('.row');
      const selectedOption = dropdown.value;

      allDocuments.forEach(document => {
        const partyName = document.querySelector('.card-text:nth-child(2)').textContent.split(':')[1].trim();
        const status = document.querySelector('.card-text:nth-child(4)').textContent.split(':')[1].trim();
        const shouldDisplay = (partyName === selectedOption) && ((paidCheckbox.checked && status === 'Paid') || (notPaidCheckbox.checked && status !== 'Paid'));
        document.style.display = shouldDisplay ? 'block' : 'none';
  });
}
function filterDocuments1() {
      const paidCheckbox = document.getElementById('paidCheckbox1');
      const notPaidCheckbox = document.getElementById('notPaidCheckbox1');

      const allDocuments = document.querySelectorAll('.row');
      
      allDocuments.forEach(document => {
        const status = document.querySelector('.card-text:nth-child(4)').textContent.split(':')[1].trim();

        if ((paidCheckbox.checked && status === 'Paid') || (notPaidCheckbox.checked && status !== 'Paid')) {
          document.style.display = 'block';
        } else {
          document.style.display = 'none';
        }
      });
    }
</script>
</body>
</html>
